* {
	box-sizing: border-box;
}

body {
	margin: 0;
	
	background-color: rgb(163, 27, 173);
	
}
html {
	scroll-behavior: smooth;
}
h1 {
	text-align: center;
	font-style: italic;
	color: white;
	margin: 50px 0;
}

p {
	font-size: 20px;
	font-style: italic;
    margin: 30px;
    text-align: justify ;
	color: white;
}
h2 {
    margin: 30px;
	text-align: center;
	color: white;
}
img {
	width: 250px;
	height: 250px;
	border: 1px solid white;
	border-radius: 40%;
    
}
.aside {
    border-right: 1px solid white;
    margin-right: 5px;
    width: 20%;
}
.main {
    border-left: 1px solid white;
   
    width: 78%;
}
.cont {
    display: flex;
}